## Lending Club Analysis

### Prepare datasets for analysis

Import basic libraries

In [1]:
import numpy as np
import pandas as pd

Change pandas print options so we can print all desired rows/columns without truncation

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Read in the data

In [3]:
rej_df = pd.read_csv(
    '../input/rejected_2007_to_2017Q3.csv.gz',
    compression='gzip',
    low_memory=True
)

In [4]:
rej_df.columns

Index(['Amount Requested', 'Application Date', 'Loan Title', 'Risk_Score',
       'Debt-To-Income Ratio', 'Zip Code', 'State', 'Employment Length',
       'Policy Code'],
      dtype='object')

In [5]:
rej_df = rej_df[['Amount Requested', 'Loan Title', 'Debt-To-Income Ratio', 'Employment Length']]

In [6]:
rej_df.head(5)

   Amount Requested          Loan Title Debt-To-Income Ratio Employment Length
0            4000.0      major_purchase                4.21%           5 years
1           20000.0  debt_consolidation                0.39%          < 1 year
2            1000.0    renewable_energy               42.38%           5 years
3           15000.0    home_improvement                5.98%           5 years
4            8500.0  debt_consolidation               29.14%          < 1 year

In [7]:
rej_df = rej_df.rename(index=str, columns={"Amount Requested": "amountRequested", "Loan Title": "reason", "Debt-To-Income Ratio": "salaryImpactRatio", "Employment Length": "termOfService"})
rej_df['accepted'] = 0
rej_df.head(5)

,amountRequested,reason,salaryImpactRatio,termOfService,accepted
0,4000.0,major_purchase,4.21%,5 years,0
1,20000.0,debt_consolidation,0.39%,< 1 year,0
2,1000.0,renewable_energy,42.38%,5 years,0
3,15000.0,home_improvement,5.98%,5 years,0
4,8500.0,debt_consolidation,29.14%,< 1 year,0

In [8]:
rej_df.to_csv('../input/rejected_small.csv.gz', compression='gzip')