## Lending Club Analysis

### Prepare datasets for analysis

Import basic libraries

In [1]:
import numpy as np
import pandas as pd

Change pandas print options so we can print all desired rows/columns without truncation

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Read in the data

In [7]:
acc_df = pd.read_csv(
    '../input/accepted_2007_to_2017Q3.csv.gz',
    compression='gzip',
    dtype={ 0: str, 18: str, 48: str, 58: str, 117: str, 128: str, 129: str, 130: str, 133: str, 134: str, 135: str, 138: str, 144: str, 145: str, 146: str },
    low_memory=True
)

In [8]:
acc_df = acc_df[['loan_amnt', 'purpose', 'annual_inc', 'annual_inc_joint', 'term', 'emp_length', 'emp_title', 'emp_length', 'home_ownership']]

In [9]:
acc_df['debt_to_income_ratio'] = acc_df['loan_amnt'] / acc_df['term'].str.extract('([0-9]+)', expand=False).astype(float) * 12 / acc_df['annual_inc'] * 100

In [10]:
acc_df.head(5)

,loan_amnt,purpose,annual_inc,annual_inc_joint,term,emp_length,emp_title,emp_length,home_ownership,debt_to_income_ratio
0,15000.0,debt_consolidation,78000.0,NaN,60 months,10+ years,MANAGEMENT,10+ years,RENT,3.846154
1,10400.0,credit_card,58000.0,NaN,36 months,8 years,Truck Driver Delivery Personel,8 years,MORTGAGE,5.977011
2,21425.0,credit_card,63800.0,NaN,60 months,6 years,Programming Analysis Supervisor,6 years,RENT,6.716301
3,12800.0,car,125000.0,NaN,60 months,10+ years,Senior Sales Professional,10+ years,MORTGAGE,2.048000
4,7650.0,debt_consolidation,50000.0,NaN,36 months,< 1 year,Technical Specialist,< 1 year,RENT,5.100000

In [11]:
acc_df.to_csv('../input/accepted_regression.csv.gz', compression='gzip', index_label=False)