## Lending Club Analysis

### Prepare datasets for analysis

Import basic libraries

In [1]:
import numpy as np
import pandas as pd

Change pandas print options so we can print all desired rows/columns without truncation

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Read in the data

In [3]:
acc_df = pd.read_csv(
    '../input/accepted_2007_to_2017Q3.csv.gz',
    compression='gzip',
    dtype={ 0: str, 18: str, 48: str, 58: str, 117: str, 128: str, 129: str, 130: str, 133: str, 134: str, 135: str, 138: str, 144: str, 145: str, 146: str },
    low_memory=True
)

In [4]:
acc_df = acc_df[['loan_amnt', 'purpose', 'annual_inc', 'term', 'emp_length']]

In [5]:
acc_df['debt_to_income_ratio'] = acc_df['loan_amnt'] / acc_df['term'].str.extract('([0-9]+)', expand=False).astype(float) * 12 / acc_df['annual_inc'] * 100

In [ ]:
acc_df.head(5)

In [6]:
acc_df = acc_df[['loan_amnt', 'purpose', 'debt_to_income_ratio', 'emp_length']]
acc_df['accepted'] = 1
acc_df.head(5)

   loan_amnt             purpose  debt_to_income_ratio emp_length  accepted
0    15000.0  debt_consolidation              3.846154  10+ years         1
1    10400.0         credit_card              5.977011    8 years         1
2    21425.0         credit_card              6.716301    6 years         1
3    12800.0                 car              2.048000  10+ years         1
4     7650.0  debt_consolidation              5.100000   < 1 year         1

In [7]:
acc_df = acc_df.rename(index=str, columns={"loan_amnt": "amountRequested", "purpose": "reason", "debt_to_income_ratio": "salaryImpactRatio", "emp_length": "termOfService"})
acc_df.head(5)

,amountRequested,reason,salaryImpactRatio,termOfService,accepted
0,15000.0,debt_consolidation,3.846154,10+ years,1
1,10400.0,credit_card,5.977011,8 years,1
2,21425.0,credit_card,6.716301,6 years,1
3,12800.0,car,2.048000,10+ years,1
4,7650.0,debt_consolidation,5.100000,< 1 year,1

In [17]:
acc_df[['reason']].describe()

                    reason
count              1646778
unique                  14
top     debt_consolidation
freq                955783

In [ ]:
acc_df.to_csv('../input/accepted_small.csv.gz', compression='gzip', index_label=False)